@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --black: rgb(0, 0, 0);
    --white: #fff;
}
.dark{
    --black: #fff;
    --white: rgb(0, 0, 0);
}
header
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo        /*edicion del logo*/
{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;      
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5em;
}
/*
header .logo       
{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;      
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5em;
}
*/

.righSide
{
    display: flex;
}
.btns
{
    position: relative;
    width: 40px;
    height: 40px;
    /*background: #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon
{
    font-size: 1.5em;
    color:var(--black);
}
.btns.menuToggle ion-icon
{
    font-size: 3em;
}
.btns ion-icon:nth-child(2)
{
    display: none;
}
.btns.active ion-icon:nth-child(2)
{
    display: block;
}
.btns.active ion-icon:nth-child(1)
{
    display: none;
}
.main
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
}
.dark .mask{
    filter: invert(1);
    
    mix-blend-mode: multiply;
}
.dark .logo{
    filter: invert(1);
    mix-blend-mode: multiply;
}
.main h2{
    position: relative;
    z-index: 3;
    left: -30px;
    bottom: -30px;
    font-size: 5vw;
}

.navigation
{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active{
    left: 0;
}

.navigation li{
    list-style: none;
}
.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}
.navigation li a:hover{
    background: var(--black);
    color: var(--white);
}
.copyrightText
{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
}
.sci{
    position: absolute;
    left: 50px;
    bottom:70px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
    color: var(--black);
    font-size: 1.75em;
}
@media (max-width: 768px)
{

    h2 .imagenNueva{
        
        
        position: inherit;
        left: 15px;
        bottom: 20px;
        
        width:190px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    }

    header{
        padding: 20px;
    }
    .copyrightText
    {
        left: 20px;
        bottom: 30px;
    }
    .sci{
        position: absolute;
        left: 10px;
        bottom:70px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        
    }
}

.container
{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .box
{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
.container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;
}
.container .box:hover:before,
.container .box:hover:after
{
    transform: skew(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after
{
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}
.container .box:nth-child(2):before,
.container .box:nth-child(2):after
{
    background: linear-gradient(315deg, #00d0ff, #ff0058);
}
.container .box:nth-child(3):before,
.container .box:nth-child(3):after
{
    background: linear-gradient(315deg, #69ca43, #00d0ff);
}
.container .box:nth-child(4):before,
.container .box:nth-child(4):after
{
    background: linear-gradient(315deg, #d47a05, #c7127c);
}
.container .box:nth-child(5):before,
.container .box:nth-child(5):after
{
    background: linear-gradient(315deg, #131412, #00d0ff);
}
.container .box:nth-child(6):before,
.container .box:nth-child(6):after
{
    background: linear-gradient(315deg, #69ca43, #e30eff);
}
.container .box:nth-child(7):before,
.container .box:nth-child(7):after
{
    background: linear-gradient(315deg, #eedf10, #2600ff);
}
.container .box:nth-child(8):before,
.container .box:nth-child(8):after
{
    background: linear-gradient(315deg, #006eff, #ff0000);
}
.container .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.container .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.5);
}
.container .box:hover span::before
{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.container .box span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.5);
    animation-delay: 1s;
}
.container .box:hover span::after
{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate{
    0%,100%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }

}
.container .box .content
{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
    /*display: none;*/
}
.container .box:hover .content
{
    left: -25px;
    padding: 60px 40px;
}

.container .box .content h2
{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
.container .box .content p
{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
.container .box .content a
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}
body
{
   
    align-items: center;
    min-height: 100vh;
    background: var(--white);
}
