@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --black: rgb(0, 0, 0);
    --white: #fff;
    --naranja: linear-gradient(395deg, #000000, #000000);
    --relleno:rgba(230, 225, 225, 0.9);
}
.dark{
    --black: #fff;
    --white: rgb(0, 0, 0);
    --naranja: linear-gradient(395deg, #fffefb, #ffffff);
    --relleno:rgba(14, 13, 13, 0.9);
}
header
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 100px;
    z-index: 100;
    
    
}
header .logo        /*edicion del logo*/
{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;      
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5em;
    
}
/*
header .logo       
{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;      
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.5em;
}
*/

.righSide
{
    display: flex;
}
.btns
{
    position: relative;
    width: 40px;
    height: 40px;
    /*background: #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon
{
    font-size: 1.5em;
    color:var(--black);
}
.btns.menuToggle ion-icon
{
    font-size: 3em;
}
.btns ion-icon:nth-child(2)
{
    display: none;
}
.btns.active ion-icon:nth-child(2)
{
    display: block;
}
.btns.active ion-icon:nth-child(1)
{
    display: none;
}
.main
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mask
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
    
}
.dark .mask{
    filter: invert(100%);
    
    mix-blend-mode: multiply;
    
}
.dark .logo{
    filter: invert(1);
    mix-blend-mode: multiply;
}
.main h2{
    position: relative;
    z-index: 3;
    left: -30px;
    bottom: -30px;
    font-size: 5vw;
}

.navigation
{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active{
    left: 0;
}

.navigation li{
    list-style: none;
}
.navigation li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.35em;
    text-decoration: none;
    color: var(--black);
    padding: 5px 20px;
    border-radius: 40px;
}
.navigation li a:hover{
    background: var(--black);
    color: var(--white);
}
/*.copyrightText
{
    position: absolute;
    left: 100px;
    bottom: 0px;
    z-index: 4;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--black);
}*/
.sci{
    position: absolute;
    left: 50px;
    bottom:70px;
    z-index: 4;
    display: flex;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    text-decoration: none;
    color: var(--black);
    font-size: 1.75em;
}
h2 .imagenNueva{
        
        
    position: center;
    left: 60px;
    bottom: 20px;
    
    width:440px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
}
@media (max-width: 768px)
{

    h2 .imagenNueva{
        
        
        position: relative;
        left: 60px;
        bottom: 20px;
        
        width:130px;        /*Ancho de la imagen nueva, aunque en este caso son iguales.*/
    }

    header{
        padding: 20px;
    }
    .copyrightText
    {
        left: 20px;
        bottom: 30px;
    }
    .sci{
        position: absolute;
        left: 10px;
        bottom:70px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        
    }
}

.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.container .box
{
    position: relative;
    width: 320px;
    height: 400px;
    color: white;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition:  0.5s;
}
.container .box:hover
{
    transform: translateY(-20px);
}
.container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(0deg, #ffbc00, #ff0058);*/
}

.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--naranja);
    filter: blur(6px);
}
.container .box span        /*borde*/
{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: var(--relleno);
    z-index: 2;
}
.container .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /*background: rgba(255, 255, 255, 0.1);  Linea que no le gusta a Josu*/
    pointer-events: none;
}
.container .box .content
{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container .box .content h2 /*TITULO*/
{
    font-size: 2em;
    color: var(--black);
    margin-bottom: 10px;
}
.container .box .content p /*relleno solo letras*/
{
    font-size: 1.1em;
    color: var(--black);
    margin-bottom: 10px;
    line-height: 1.4em;
}
.container .box .content a /*repositorio*/
{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: white;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;

}
body
{
   
    align-items: center;
    min-height: 100vh;
    background: var(--white);
}